body {
    background: linear-gradient(135deg, #12243e 0%, #1e3c72 100%);
    font-family: 'Raleway', sans-serif;
}

/* Estilos del header */
.cabecera {
    background: linear-gradient(135deg, #0f1320 0%, #1d243d 100%);
    color: white;
    padding: 20px 0;
}

.cabecera__inicio {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    text-align: center;
}

.cabecera__logo {
    width: 22px;
    filter: brightness(0) invert(1);
}

.cabecera__titulo {
    font-size: 24px;
    font-weight: 600;
}

/* Estilos de la navegación */
.navegacion__lista {
    display: flex;
    justify-content: center;
}

.navegacion__elemento {
    margin: 0 15px;
    transition: transform 0.3s ease;

}

.navegacion__elemento:hover {
    transform: scale(1.1);
}

.navegacion__elemento__texto {
    color: white;
    font-weight: 500;
    font-size: 14pt;
}

.navegacion__elemento__texto:hover {
    color: #e1b000;
    text-decoration: underline;
}

/* Estilo para el banner */
.banner {
    height: 200px;
    background-image: url('assets/banner.png');
    background-size: cover;
    background-position: left;
    box-shadow: #0f1320 0px 6px 10px 1px;
}

/* Estilos para la sección de presentación */
.presentacion {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    background: linear-gradient(180deg, #0c192b 0%, #7a2c8c 100%);
    color: white;
    margin: 20px 0;
}

.presentacion__info {
    flex: 1;
    padding: 20px;
}

.presentacion__titulo {
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 15px;
}

.presentacion__descripcion {
    font-size: 16px;
    margin-bottom: 50px;
    line-height: 1.5;
}

/* Estilos para los enlaces de presentación */
.presentacion__links {
    display: flex;
    gap: 15px;
}

.presentacion__link {
    background: linear-gradient(18deg, #076169 0%, #19BECC 100%);
    color: #fff;
    padding: 10px 15px;
    border-radius: 5px;
    box-shadow: #000013 0px 6px 10px 1px;
}

.presentacion__link-item {
    transition: transform 0.3s ease;
}

.presentacion__link:hover {
    background: linear-gradient(18deg, #0c192b 10%, #19becc 100%);
}

.presentacion__link-item:hover {
    transform: scale(1.1);
}

.img__arrow {
    width: 10px;
    filter: brightness(0) invert(1);
}

/* Estilos para la imagen de presentación */
.presentacion__img {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.presentacion__img {
    display: inline-block;
    border-radius: 50%;
    padding: 5px;
    background: linear-gradient(18deg, #033b41 50%, #19BECC 100%);
    max-width: 200px;
    min-width: 200px;
    overflow: hidden;
    box-shadow: #000013 0px 6px 10px 1px;
}

.presentacion__foto:hover {
    transform: rotateY(-180deg) scale(1.1);
}

.presentacion__foto {
    display: block;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
}

/* Estilos para la sección "Sobre mí" */
.sobre-mi {
    background: linear-gradient(135deg, #12243e 0%, #7a2c8c 100%);
    color: white;
    padding: 40px;
    margin: 20px 0;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
}

.titulo {
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 20px;
    text-align: center;
    border-bottom: 2px solid #e1b000;
    padding-bottom: 10px;
}

.descripcion {
    font-size: 16px;
    margin: 15px 0;
    line-height: 1.6;
    text-align: left;
}

/* Estilos para los datos personales */
.datos-personales {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    padding: 20px;
    margin-top: 30px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.datos-personales-container {
    padding: 50px;
}

.datos-personales-container h2 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 15px;
    color: #e1b000;
}

.datos-personales li {
    margin: 10px 0;
    font-size: 16px;
}

/* Estilo para los enlaces de correo y teléfono */
.datos_copiar {
    padding-left: 5px;
    color: #e1b000;
    text-decoration: none;
    transition: transform 0.3s ease;

}

.datos_copiar:hover {
    color: #d89c00;
    transform: scale(1.1);
}

.btn_copiar {
    width: 35px;
    height: 35px;
    margin-left: 5px;
    cursor: pointer;
    color: #fff;
    transition: transform 0.3s ease;
    background-color: #092c8d;
    border-radius: 5px;
    border: none;
    box-shadow: #000013 0px 6px 10px 1px;
}

.btn_copiar:hover {
    transform: scale(1.1);
    background-color: #1d3f9b;
}

/* Estilos para la sección de habilidades */
.habilidades {
    background: linear-gradient(135deg, #12243e 0%, #7a2c8c 100%);
    color: white;
    padding: 40px 20px;
    border-radius: 10px;
    margin: 20px 0;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
}

.titulo {
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 30px;
    text-align: center;
    border-bottom: 2px solid #e1b000;
    padding-bottom: 10px;
}

/* Estilos para la lista de habilidades */
.skills {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.skill {
    background: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
    width: 50px;
    height: 50px;
}

.skill:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.3);
    transform: scale(1.15);
}

.skill figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.icono-habilidad {
    text-align: center;
    margin-bottom: 10px;
    height: 30px;
    /* padding: 5px; */
}

.skill figcaption {
    font-size: 12pt;
    color: #12243e;
}

/* Estilos para la sección de pasatiempos */
.pasatiempos {
    background: linear-gradient(135deg, #12243e 0%, #7a2c8c 100%);
    color: white;
    padding: 40px;
    border-radius: 10px;
    margin: 20px 0;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
}

.titulo {
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 30px;
    text-align: center;
    border-bottom: 2px solid #e1b000;
    padding-bottom: 10px;
}

/* Estilos para la lista de pasatiempos */
.hobbies-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.hobby {
    background: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
    width: 80px;
    height: 50px;
}

.hobby:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.3);
    transform: scale(1.15);
}

.hobby figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.icono-pasatiempo {
    text-align: center;
    margin-bottom: 10px;
    height: 30px;
}

.hobby figcaption {
    font-size: 12pt;
    color: #12243e;
}

/* Estilos para la sección de formación académica */
.formacion-academica {
    background: #0d0f15;
    color: white;
    padding: 40px;
    margin: 20px 0;
    /* box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3); */
}

.titulo {
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 30px;
    text-align: center;
    border-bottom: 2px solid #e1b000;
    padding-bottom: 10px;
}

.estudio {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.estudio:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.3);
    transform: scale(1.15);
}

.estudio__img {
    width: 80px;
    margin-bottom: 10px;
}

.filter {
    filter: brightness(0) invert(1);

}

figcaption h3 {
    font-size: 20px;
    font-weight: 600;
    color: #e1b000;
    margin: 10px 0;
}

figcaption p {
    font-size: 16px;
    color: #ffffff;
}

/* Estilos para la sección de proyectos */
.proyectos {
    background-image: radial-gradient(circle at 30.94% 65.99%, #8a4aa5 0, #5d3681 25%, #321f59 50%, #0e0532 75%, #000013 100%);
    color: white;
    padding: 40px 20px;
    margin: 20px 0;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
}

.titulo {
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 30px;
    text-align: center;
    border-bottom: 2px solid #e1b000;
    padding-bottom: 10px;
}


.proyecto {
    display: flex;
    gap: 40px;
    margin-top: 50px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background: linear-gradient(135deg, #12243e 0%, #7a2c8c 100%);
    padding: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);

}

.proyecto:hover {
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.3);
    transform: scale(1.01);
}

.proyecto__img {
    width: 50%;
    border-radius: 10px;
    margin-bottom: 15px;
    box-shadow: 15px 15px #000000;
}

.invertido {
    flex-direction: row-reverse;
}

.invertido .proyecto__img {
    box-shadow: -15px 15px #000000;
}

.proyecto__descripcion h3 {
    font-size: 22px;
    font-weight: 600;
    color: #e1b000;
    margin: 20px 0;
    text-align: center;
}

.proyecto__descripcion p {
    font-size: 16px;
    color: #ffffff;
    margin-bottom: 50px;
    padding: 20px;
}

.botones {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.btn_repositorio,
.btn_demo {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 14px;
    transition: transform 0.2s ease, background-color 0.2s ease;

}

.btn_repositorio:hover,
.btn_demo:hover {
    background-color: #d18b00;
    color: #fff;
    transform: scale(1.08);
}

.btn_repositorio {
    width: 108px;
    height: 40px;
    background-color: #fff;
    color: #2a7ae4;
    border: 1px solid #2a7ae4;
}

.btn_demo {
    width: 96px;
    height: 40px;
    background-color: #2a7ae4;
    color: #fff;
    border: 1px solid #2a7ae4;
}

/* Estilos para la sección de contacto */
.contact {
    flex-direction: column;
    align-items: center;
    margin: 5px;
}

.contacto {
    border-radius: 25px;
    padding: 40px 25px;
    background-color: #0e0532;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
    color: #ffffff;
}

/* Estilos para la imagen de contacto */
.contacto__img {
    max-width: 300px;
    margin-right: 20px;
    display: block;
    align-content: center;
}

.contacto h1 {
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 30px;
    text-align: center;
    border-bottom: 2px solid #e1b000;
    padding-bottom: 10px;
}

/* Estilos para el formulario */
#contactForm {
    margin-top: 20px;
    max-width: 90%;
    /* flex: 2; */
    /* display: flex; */
    /* flex-direction: column; */
}

/* Estilos para los campos del formulario */
.input-container {
    margin-bottom: 20px;
}

/* Estilos para los labels */
label {
    font-weight: bold;
    margin-bottom: 5px;
    color: #e1b000;
}

/* Estilos para los inputs */
input,
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #e1b000;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.1);
    color: #ffffff;
    font-size: 16px;
}

/* Estilos para el botón de envío */
.btn_enviar {
    background-color: #e1b000;
    color: #000;
    padding: 15px;
    font-size: 14px;
    border: none;
    /* max-width: 300px; */
    margin: auto;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.btn_enviar:hover {
    background-color: #c99a00;
    transform: scale(1.05);
}

.btn_enviar:disabled {
    background-color: #cccccc80;
}

input:focus+label,
input:not(:placeholder-shown)+label,
textarea:focus+label,
textarea:not(:placeholder-shown)+label {
    top: 5px;
    font-size: 12px;
    color: #2a7ae4;
}

.input_error {
    font-size: 15px;
    color: #ff0000;
}


/* Estilos para el footer */
.footer {
    background: linear-gradient(135deg, #12243e 0%, #1e3c72 100%);
    color: #ffffff;
    padding: 60px 20px;
    text-align: center;
    position: relative;
}

.footer p {
    margin: 0;
    font-size: 14px;
}

/* Estilos para los iconos de redes sociales */
.footer__redes {
    margin-top: 10px;
}

.footer__icono {
    width: 30px;
    height: 30px;
    margin: 0 10px;
    transition: transform 0.3s;
}

.footer__icono:hover {
    transform: scale(1.1);
}

@media(max-width: 767px) {
    .navegacion__lista li:not(:last-child) {
        display: none;
    }

    .banner {
        height: 100px;
    }

    .presentacion {
        margin: 10px 0px;
        padding: 16px;
        flex-direction: column-reverse;
        align-items: flex-start;
        gap: 1px;
    }

    .presentacion__img {
        max-width: 100px;
        min-width: 100px;
    }

    .presentacion__links {
        display: flex;
        flex-direction: column;
        gap: 30px;

    }

    .sobre-mi {
        padding: 16px;
    }

    .sobre-mi .descripcion {
        text-align: left;
    }

    .datos-personales-container {
        padding: 5px;
    }

    .proyecto,
    .proyecto .invertido {
        flex-direction: column;
        align-items: center;
    }

    .proyecto__img {
        width: 100%;
    }

    .contacto__img {
        display: none;
    }
}

@media(min-width:767px) {
    .contacto {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 5px;
    }

    .contacto__img {
        max-width: 300px;
        margin-right: 20px;
        display: flex;
        flex-direction: column;
        align-content: center;
    }

    #contactForm {
        margin-top: 20px;
        max-width: 90%;
        flex: 2;
        display: flex;
        flex-direction: column;
    }
}

/* Definición de la animación */
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
        /* Aparece desde abajo */
    }

    to {
        opacity: 1;
        transform: translateY(0);
        /* Posición final */
    }
}

/* Clase que se aplicará cuando el elemento esté en vista */
.in-view {
    opacity: 1;
    transform: translateY(0);
    animation: fadeInUp 1.5s forwards;
    /* Aplica la animación */
}

/* Animaciones */
.cabecera,
.banner,
.presentacion,
.sobre-mi,
.datos-personales,
.skills,
.pasatiempos,
.formacion,
.proyecto,
.contact {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 1.5s ease, transform 1.5s ease;
}

.cabecera .in-view,
.presentacion .in-view,
.banner .in-view,
.sobre-mi .in-view,
.datos-personales .in-view,
.skills .in-view,
.pasatiempos .in-view,
.formacion .in-view,
.proyecto .in-view,
.contact .in-view {
    opacity: 1;
    transform: translateY(0);
}

/* Estilo para el contenedor de la cabecera */
.cabecera {
    opacity: 0;
    transform: translateY(-50px) scale(0.95);
    animation: slideInTop 2s ease-out forwards;
}

.presentacion__img {
    opacity: 0;
    transform: translateY(-50px) scale(0.05);
    animation: zoomIn 2s forwards;
}

@keyframes slideInTop {
    from {
        opacity: 0;
        transform: translateY(-50px) scale(0.95);
    }

    to {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}

@keyframes zoomIn {
    0% {
        transform: scale(0.2);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}